@import './grid';




html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    // font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

    @media (min-width: 1440px) {
        font-size: 1vw;
    }
}

html,
body {
    height: 100%;
}

body {
    background: #fff;
    line-height: 1.5;
    font-family: Univers, sans-serif;
    font-weight: 200;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #252530;
}

.noscroll {
    position: fixed !important;
    overflow-y: scroll !important;
    width: 100% !important;
}

input,
textarea {
    font-family: Univers, sans-serif;
}

#root {
    min-height: 100%;
    height: 100%;
}

.global-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    background: #fff;
}

a {
    text-decoration: none;
    color: #007f00;

    &:hover {
        color: #339933;
        text-decoration: underline;
    }

    &:active {
        color: #000;
    }
}

p {
    color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25em;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.fixed-width {
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.page {
    display: flex;
    min-height: 100%;
    flex-direction: row;
    background: #fff;

    >div {

        // nav container
        &:first-child {
            position: relative;
            width: 0;
            z-index: 100;

            @media (min-width: 992px) {
                position: static;
                width: 18.75%;
            }
        }

        @media (min-width: 992px) {
            display: flex;
        }
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}

.content {
    padding-top: 5em;
    flex: 1;

    .error {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

/* I'm a bad, bad man */
*::-ms-backdrop,
.content {
    flex: none;
}

.box {
    padding: 2em;
    background: #f6f6f6;
}

.navigation {
    height: 100%;
    width: 100%;
}

.cta {
    background: green;
    color: #fff;
    display: inline-block;
    padding: 1em 2em;
    border-radius: 100em;
    cursor: pointer;
    border: 0;
    font-size: 0.875em;

    &:hover {
        text-decoration: none;
        background: green;
        color: #fff;
    }

    &:active {
        background: #000;
    }

    &:disabled {
        opacity: 0.2;
        pointer-events: none;
    }
}

* {
    outline: none !important;
}

.button-wrapper {
    &>*:not(:last-child) {
        margin-right: 1em;
        margin-bottom: 1em;
    }
}

.default-padding-top {
    padding-top: 1em;
}